.killed {
    animation: killing 0.5s;
    animation-fill-mode: forwards;

}

.slide-down {
    animation: slideDown 2s;
    animation-fill-mode: forwards;
}

.fade-in {
    animation: slideUp 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes killing {
    0% {
        background-color: white;
    }
    100% {
        background-color: none;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0);
    }
    
}

@keyframes slideUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
